#virtual environments
.venv/
venv/
env/

#pycache
**/__pycache__/
*.py[cod]
*$py.class

#vscode
.vscode/
.idea/

#secrets
*.env

#git
.git
.gitignore

#dockerfiles
Dockerfile
.dockerignore
docker-compose.yml

#other
README.md
.pytest_cache/
migrations/
alembic.ini